<div class="card">
    <h5 class="card-header text-start"> 중고거래 시작하기</h5>
    <div class="card-body">
        <div class="card-text text-muted create-resell"
            data-bs-toggle="modal" data-bs-target="#newresell" 
        >
            <%= currentUser.username %>의 중고거래를 시작해봐요!
        </div>
    </div>
</div>